<html>
<body>
	<style>
		body{
		
			background:  url(https://media4.giphy.com/media/l41m3h4iIoNZqv7j2/giphy.gif) no-repeat center center fixed; 
  background-size: cover;
  font-size:150%
		}
		#a{
			padding-top: 2cm;
		}
		.yoo{
			border-radius: 6px;
			height:30px;
			width:85px;
		}

	</style>
</body>
<div align="center" >
<body>
	
	<div id="a">
	</br>
	</br>
	</br>
	<h3 >{{no_caption}}</h3>
	<h3>{{no_post}}</h3>
	</br>
	
	
	<form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
	 
	  <p><b>CHOOSE-FILE: <input type="file" name="image" value="{{image}}">
	  

	  <b>CAPTION: <input type="text" name="caption" value="{{caption}}">
	  <br/>
	  </br>
	  </br>

      <input type="submit" class="yoo" value="POST">
   </form>
   </div>



</body>
</div>
</html>
